/* src/components/Preloader.css */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(8px); /* Apply a blur effect to the background */
    z-index: 9999;
}

.spinner {
    border: 8px solid #229200; /* Light grey */
    border-top: 8px solid hsl(0, 0%, 100%); /* Green */
    border-bottom: 8px solid hsl(0, 0%, 100%); /* Green */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
